<template>
  <div class="column" style="height: 100%;">
    <div class="col-3" style="background-color: white;">
      <div class="Arrrgghh text-center vertical-middle">
        Arrrggghhh
      </div>
    </div>
    <div class="col-2">
      <div class="Divider self-center"></div>
    </div>
    <div class="col-1">
      <div class="Honestlywere-just text-center">
        Honestly ... we're just as lost as you are right now.'
      </div>
    </div>
    <div class="col-6" style="background-color: #b375ff;text-align: center">
      <q-img
        class="vertical-middle"
        src="/statics/imgs/argh-ship.svg"
        spinner-color="white"
        style="height: 120px; max-width: 160px; margin-top: 120px;"
      />
    </div>
  </div>
</template>

<script>
export default {
  layout: "LandingLayout",
  name: "Error404"
};
</script>
<style scoped>
.Arrrgghh {
  height: 40px;
  font-family: "IBM Plex Sans";
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #27261e;
}
.Divider {
  width: 80px;
  height: 16px;
  border-radius: 4px;
  background-color: #d5b3ff;
}
.Honestlywere-just {
  height: 52px;
  font-family: IBMPlexSans;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #7f36da;
}
</style>
