<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
// import { userSession, blockstack, userData } from "boot/blockstack";
import { mapActions } from "vuex";
import * as blockstack from "blockstack";

const userSession = new blockstack.UserSession();

export default {
  name: "App",
  created() {
    if (userSession.isUserSignedIn()) {
      // this.fetchData();
      this.setProfile();
      this.$router.push("/app/search");
    } else if (userSession.isSignInPending()) {
      userSession.handlePendingSignIn().then(() => {
        this.setProfile();

        window.location = window.location.href.split("?")[0];
        this.$router.push("/app/search");
      });
    }
  },
  methods: {
    ...mapActions({
      setUser: "user/setUser",
      intializeData: "search/initializeFromGaia"
    }),
    setProfile() {
      let userData = userSession.loadUserData();
      let person = new blockstack.Person(userData.profile);
      let user = {
        name: person.name(),
        avatar: person.avatarUrl(),
        id: userData.username
      };
      this.setUser(user);
      userSession.getFile("landho.json").then(data => {
        let searches = JSON.parse(data) || [];
        if (process.env.DEV) console.log("searches loaded: ", searches);
        this.intializeData(searches);
      });
    }
  },
  mounted() {
    this.$store.watch(
      state => state.search.userSearches,
      () => {
        userSession.putFile(
          "landho.json",
          JSON.stringify(this.$store.state.search.userSearches)
        );
      }
    );
  }
};
</script>

<style></style>
