<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.productDescription %>"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <meta property="og:title" content="Land Ho!" />
    <meta property="og:site_name" content="Land Ho" />
    <meta property="og:url" content="https://landho.app/" />
    <meta
      property="og:description"
      content="Securely maintain your search history across multiple search engines and devices without building a targeted profile that is in the control of big tech companies. Built on Blockstack."
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://landho.app/statics/imgs/Land_Ho_OG.jpg"
    />

    <link rel="icon" type="image/png" href="statics/app-logo-128x128.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="statics/icons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="statics/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="statics/icons/favicon-96x96.png"
    />
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
    <script async defer src="https://cdn.simpleanalytics.io/hello.js"></script>
    <noscript
      ><img src="https://api.simpleanalytics.io/hello.gif" alt=""
    /></noscript>
  </body>
</html>
