<template>
  <q-layout view="hhh lPr fff">
    <q-header class="bg-white">
      <q-toolbar
        style="height: 56px; background-color: #f5eeff;"
        v-if="displaySearchBar"
      >
        <q-btn
          round
          dense
          color="white"
          class="q-mx-md"
          size="md"
          @click="menu = !menu"
        >
          <q-img
            :src="
              searchEngines.find(se => se.id === this.currentSearchEngine)
                .avatar
            "
          ></q-img>
          <img
            src="/statics/imgs/down-arrow.svg"
            height="5px"
            style="margin-top: 3px;"
            :class="menu ? 'menu' : ''"
          />
          <q-menu :offset="[18, 10]" auto-close class="shadow-24">
            <q-list style="min-width: 100px">
              <q-item
                clickable
                v-for="se in searchEngines"
                :key="se.id"
                @click="setSearchEngine(se.id)"
              >
                <q-item-section avatar>
                  <q-img :src="se.avatar"></q-img>
                </q-item-section>
                <q-item-section>{{ se.name }}</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
        <q-input
          :placeholder="searchPlaceholder"
          ref="search"
          bg-color="white"
          color
          grow
          dense
          rounded
          outlined
          clearable
          clear-icon="img:statics/imgs/bx-x-circle.svg"
          type="search"
          standout
          :value="currentSearchTerm"
          @input="setCurrentSearchTerm"
          class="lh-searchbar"
          @keyup.enter="doSearch"
        ></q-input>
        <q-btn flat round dense to="/app/history" class="no-right-margin">
          <q-avatar size="32px">
            <img src="/statics/imgs/history.svg" />
          </q-avatar>
        </q-btn>
        <q-btn
          outline
          round
          dense
          color="transparent"
          class="q-mx-md"
          size="md"
        >
          <q-avatar size="32px">
            <q-img
              :src="user.avatar || '/statics/imgs/avatarrghh.svg'"
              transition="flip-down"
              spinner-color="accent"
            ></q-img>
          </q-avatar>
          <q-menu :offset="[18, 10]" auto-close class="shadow-24">
            <q-list>
              <q-item>
                <q-item-section avatar>
                  <q-img src="/nonexistant/image"></q-img>
                </q-item-section>
                <q-item-section class="text-accent">
                  {{ user.id }}
                </q-item-section>
              </q-item>
              <q-item clickable @click="signOut">
                <q-item-section avatar>
                  <!-- <q-avatar
                    square
                    size="16px"
                  >-->
                  <img src="/statics/imgs/sign-out.svg" />
                  <!-- </q-avatar> -->
                </q-item-section>
                <q-item-section>Sign out</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { userSession } from "boot/blockstack";

export default {
  name: "MyLayout",
  data() {
    return {
      currentSearchEngine: 0,
      menu: false
    };
  },
  computed: {
    ...mapGetters({
      searchEngines: "search/searchEngines",
      search: "search/search",
      user: "user/user",
      initialSearchComplete: "search/initialSearchComplete",
      currentSearchTerm: "search/currentSearchTerm"
    }),
    // searchTerm: {
    //   set(searchString) {
    //     this.setSearchTerm(searchString);
    //   },
    //   get() {
    //     return this.currentSearchTerm;
    //   }
    // },
    displaySearchBar() {
      return this.initialSearchComplete || this.$route.path === "/app/history";
    },
    searchPlaceholder() {
      return `Search ${
        this.searchEngines.find(se => se.id === this.currentSearchEngine).name
      }`;
    }
  },
  watch: {
    searchTerm() {
      if (!this.searchTerm) {
        this.resetSearch();
      }
    }
  },
  mounted() {
    if (process.env.DEV) console.log("q: ", this.q$);
  },
  beforeUpdate() {
    if (this.search.searchTerm) {
      this.searchTerm = this.search.searchTerm;
    }
  },
  methods: {
    ...mapActions({
      addSearch: "search/addSearch",
      clearSearch: "search/clearSearch",
      setSearchTerm: "search/setSearchTerm"
    }),
    setCurrentSearchTerm(e) {
      if (e) {
        this.setSearchTerm(e);
        if (e.keyCode === 13) {
          this.doSearch();
        }
      } else {
        this.setSearchTerm("");
      }
    },
    setSearchEngine(param) {
      this.currentSearchEngine = param;
      if (this.searchTerm) {
        this.doSearch();
      }
    },
    signOut() {
      userSession.signUserOut();
      this.$router.push("/");
    },
    doSearch() {
      if (this.searchTerm === null) {
        this.resetSearch();
      } else {
        if (this.$router.page !== "app") {
          this.$router.push("/app/search");
        }
        this.addSearch({
          timestamp: Date.now(),
          src: this.searchEngines.find(
            se => se.id === this.currentSearchEngine
          ),
          searchTerm: this.currentSearchTerm
        });
      }
    },
    resetSearch() {
      this.clearSearch();
      this.$nextTick(function() {
        if (this.$router.page !== "app") {
          this.$router.push("/app/search");
        }
        if (process.env.DEV)
          console.log("search bar: ", this.$refs.searchBarString);
      });
    }
    // this.addSearch({
    //   timestamp: Date.now(),
    //   src: this.searchEngines.find(se => se.id === this.currentSearchEngine),
    //   searchTerm: ""
    // });
  }
};
</script>

<style scoped>
.lh-searchbar {
  width: 100%;
  margin-left: 8px;
  margin-right: 24px;
  border-radius: 100px;
  box-shadow: 0 8px 16px -8px rgba(120, 93, 153, 0.2);
}
.hat {
  margin-right: 16px;
}

@media only screen and (max-width: 425px) {
  .q-toolbar {
    padding-right: 0px;
    padding-left: 0px;
  }
  .q-btn {
    margin-left: 8px;
    margin-right: 8px;
  }
  .lh-searchbar {
    margin-left: 0px;
    margin-right: 0px;
  }
  .no-right-margin {
    margin-right: 0px;
  }
}
img {
  transition: transform 0.2s;
}
img.menu {
  transform: rotate(-180deg);
}
</style>
