<template>
  <q-layout>
    <q-header style="background: white">
      <q-toolbar class="q-py-sm q-px-lg">
        <img src="/statics/imgs/land-ho-logo.svg" height="80px" width="158px" />
        <q-space />
        <q-btn unelevated outline style="color: #7f36da;" @click="signIn">
          <div style="color: black;">Sign in</div>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>
<script>
import { userSession } from "boot/blockstack";
import { mapActions } from "vuex";

export default {
  data() {
    return {};
  },
  methods: {
    ...mapActions({
      setUser: "user/setUser"
    }),
    signIn() {
      if (userSession.isUserSignedIn()) {
        if (process.env.DEV) console.log("user is logged in");
        const userData = userSession.loadUserData();
        this.setUser(userData);
        this.$router.push("/app/search");
      } else if (userSession.isSignInPending()) {
        if (process.env.DEV) console.log("user signin is pending...");
        // Is pending?
        userSession.handlePendingSignIn().then(userData => {
          this.$router.push("/app/search");
          // window.location = window.location.href.split("&")[0];
          this.setUser(userData);
        });
      } else {
        if (process.env.DEV)
          console.log("user is not signed in, nor is signin pending");
        // Redirect the user to Blockstack sign in / sign up
        userSession.redirectToSignIn();
      }
    }
  }
};
</script>
